{% extends "base.html" %}

{#% from "newline.html" import render_bs_field with context %#}
{% from "form-macros.html" import render_bs_field %}

{% block header %} 
  <h2> {% block title %} Passwort {% endblock %} </h2>
{% endblock %}

{% block subtitle %} 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6">
        <form action="" method="POST" >
        {{ form.hidden_tag() }}
        <!-- Body -->
        <div class="auth-body">
            <h2>Passwort ändern</h2>
            <div class="form-group row">
                <div  class="col-sm-4 col-form-label">Benutzer</div>
                <div class="col-sm-8">{{ user }}</div>
            </div>
            {# { render_bs_field (form.oldpassword) } #}
            {{ render_bs_field (form.password) }}
            {{ render_bs_field (form.password2) }}
        </div>
        <!-- Footer -->
        <div>
        <div class="form-footer btn-group " role="group"> <!-- modal-footer -->
            <button type="submit" id="submitButton"
                class="btn btn-primary" name="submit_button" value="true">
                Abschicken
            </button>
            <button type="submit" id="closeButton"
                class="btn btn-secondary" name="submit_button" formnovalidate >
                schließen
            </button>
        </div>
    </div>

    </form>
    </div>
    <div class="col-sm-6"></div>
</div>
{% endblock %}

