__pycache__/
.vscode/
logs/

.env
.app.csv
.app.db
_todo.txt

scripts/.require_pyanywhere(installed).txt
scripts/schema.sql
scripts/setenviron.ps1

dmx/.vscode/
dmx/backup/
app/static/sphinx/doctrees/
