/*
** Styles für clubdmx
*/

/* siehe https://stackoverflow.com/questions/28772684/bootstrap-modal-issue-on-safari-ios-iphone# */

.clickable {
    cursor: pointer;
}
.edit_selected {
    padding: 5px;
    background-color: #d3d3d3af;        
}
/* Abstand von navbar und Seitenüberschrift: */
/* .menuheight {
    min-height: 110px;
} */

/* #headercontainer {
  padding-top: 10px;
} */

.nav-topcue {
    color: white;
    background-color: chocolate;
}

.nav-csvtable {
  width: 100%;
  /* position: fixed; */
}

.cuefader.ui-slider .ui-slider-handle {
  top: -.6em;
  height: 2em;
  background: rgb(61, 61, 180);
  border-radius: 5px;
}

.slidercontainer {
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
}

.sliderelement {
  /* siehe attribslider.html */
  margin-bottom: 20px; 
  margin-top: 20px; 
  flex: 0 0 auto;
}

.attribslider.ui-slider {
    height: 150px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.attribslider.ui-slider .ui-slider-handle {
    background: rgb(61, 61, 180);
    width: 2em;
    height: 1em;
    left: -.6em;
    border-radius: 5px;
    /* color: blue; 
    */
}
.ui-selecting {
    background: #ccc;
}

.ui-selected.highlight {
    border-width: 3px;
    border-color: orange;
}
html, body {
  height: 100%;
  
  width: 100%;
}
/* Formular */
.form-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  max-height: none;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}
.form-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
  
.auth-body {
  position: relative; 
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden; 
  min-height: 200px;
  /* height: calc(100vh - 350px);  */
  /* border-radius: 5px; */
}

.form-body {
  position: relative; 
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden; 
  min-height: 200px;
  /* height: calc(100vh - 430px);  */
  /* border-radius: 5px; */
}

.form-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
/*    -ms-flex-pack: end;
  justify-content: flex-end; */
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

/* SVG 
siehe: https://css-tricks.com/change-color-of-svg-on-hover/
und: https://codepen.io/sosuke/pen/Pjoqqp
*/
/* svg {
  height: 2em;
  width: 2em;
  fill: currentColor;
} */
/* .reload-icon {
  background-color: inherit;
} 
.nav-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-color: white;
  border-radius: 50%;
  filter: invert(80%) sepia(0%) saturate(1%) 
  hue-rotate(139deg) brightness(103%) contrast(101%);
}
*/

.csv-icon {
  width: 3em;
  height: 3em;
  fill: currentColor;

}
/*
.csv-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  filter: invert(100%) sepia(0%) saturate(1%) 
  hue-rotate(139deg) brightness(103%) contrast(101%);
  margin-right: 10px;
}
*/
/* verwendet in Header-Subtitle */
.image-button {
  width: 1.5em;
  height: 1.5em;
}


/* Stage, Stage_Mobil */
/* .stage-canvas {
  display:flex;
}
 */
.stage, .mob-stage {
  border: 3px solid;
  border-radius: 5px;
}

.stage {
  position: relative;
  min-height: 200px;
  /* min-width: 300px; */
  width: 100%;
  height:100%;
  /* height: calc(100vh - 405px); */
  overflow: auto;
  -webkit-overflow-scrolling: initial;
}
.stage-element {
  position: absolute;
  height: 40px;
  width:  40px;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 10px;
}
.mobil-element {
  position: relative; 
  height: 80px;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 10px;
}


/* Head: */
.head > .itemName { 
  position: absolute;
  top: 0px;
  right: 5px;
  text-align: right; 
  color: blueviolet;
}
.head > .itemText {
  position: absolute;
  top: 2rem;
  right: 5px;
  text-align: left;
  color:rgb(42, 33, 173)
}
.head > .itemComment {
  position: absolute;
  text-align: right;
  bottom: 5px;
  right: 5px;
  font-size: 0.8rem;
  color:rgb(42, 33, 173)
}
.head > .intensity-container {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70px;
  border-radius: 3px;
  padding: 1px;
  background-color:slategray;
}
.intensity-indicator {
  background-color: white;
  height: 14px;
  border-radius: 2px;
}
.head > .color-indicator {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 20px;
  width:  30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

/* Text: */
.text > .itemName { 
  position: absolute;
  left: 5px;
  top: 0px;
  text-align: right; 
  margin: 5px; 
  color: blueviolet;
}
.text > .itemText {
  position: absolute;
  left: 5px;
  top: 2rem;
  text-align: left;
  margin: 5px;
  color:rgb(42, 33, 173)
}
.text > .itemComment {
  position: absolute;
  text-align: right;
  bottom: 5px;
  right: 5px;
  font-size: 0.8rem;
  color:rgb(42, 33, 173)
}
.emptybox {
  border: 1px solid rgb(42, 33, 173);
  height: 1em;
  width: 0.7em;
}

/* Gruppe: */
.stage-element.gruppe, .mobil-element.gruppe {
  background-color: lightyellow;
}

.gruppe > .itemName { 
  position: absolute;
  left: 5px;
  top: 0px;
  text-align: right; 
  margin: 5px; 
  color: blueviolet;
}
.gruppe > .itemText {
  position: absolute;
  left: 5px;
  top: 1.5rem;
  text-align: left;
  margin: 5px;
  color:rgb(42, 33, 173)
}
.gruppe > .itemComment {
  position: absolute;
  text-align: left;
  bottom: 5px;
  left: 5px;
  color:rgb(42, 33, 173)
}
