{# Datenbank-Tab #}

{% macro _help_id() -%}
elements-overview
{%- endmacro %}


<div class="container-fluid">
  <h4 class="mt-4">Admin-Tools</h4>
  <p>
  Eine <a href="#{{ _help_id() }}" data-toggle="collapse" class="px-2" > 
    Übersicht zu den Admin-Tools</a>
  findest du hier.
  </p>
  <!-- help -->
  <div class="col mb-4 collapse" id="{{ _help_id() }}">
  <div class="card">
    <div class="card-body">
    <h5 class="card-title">Übersicht zu de Admin-Tools</h5>
    <p class="card-text">
      Was ist zu finden?:
    </p>
    <p class="card-text">
      Headfiles in Code-Datenbank übertragen
    </p>
    <p class="card-text">
      User Datenbank auf USB backup/restore
    </p>
    </div>
  </div>
  </div>
  
  <!-- Tab-Inhalt -->
  <div class="row row-cols-1 row-cols-md-2 "> 
  <div class="col" id="links">
    <!-- Basis-Tabellen-->
    <div class="card mb-4">
    <h5 class="card-header">Tools</h5>
    <div class="card-body">
      <nav class="nav flex-column">
        {% if config.PYTHONANYWHERE == "false" %}        
          {{ idx.nav_vertical_js ("Backup der User-Datenbank auf USB", 
            "userdbBackup" )}}
          {{ idx.nav_vertical_js ("Restore der User-Datenbank von USB", 
            "userdbRestore" )}}
          {{ idx.nav_vertical ("Heads update", "room.headupdate") }}

          <a class="nav-link" target="_blank" href="{{ url_for ('data.ola') }}">
            OLA einrichten</a>
        {% else %}
          {{ idx.nav_vertical ("Backup der User-Datenbank auf USB", 
          "common.notinpythonanywhere" )}}
          {{ idx.nav_vertical ("Restore der User-Datenbank von USB", 
          "common.notinpythonanywhere" )}}
          {{ idx.nav_vertical ("Heads update", "room.headupdate") }}
          {{ idx.nav_vertical ("OLA einrichten", 
          "common.notinpythonanywhere" )}}
        {% endif %}
      </nav>
    </div>
      </div> 
    </div>

  <div class="col" id="rechts">
    <!-- Erweitert -->
    <div class="card mb-4">
    <h5 class="card-header">Debug</h5>
    <div class="card-body">
      <nav class="nav flex-column">
      {{ idx.nav_vertical ("Contrib", "common.contrib") }}
      {{ idx.nav_vertical ("Config neu laden", "common.reload" ) }}
      {{ idx.nav_vertical ("Icon-Ordner anzeigen", "common.viewicons" ) }}
      </nav>
    </div>
    </div> 
  </div>

  </div>
</div>	


