{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}

{% block header %}
<h2> {% block title %} Datenbank {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
{{ base.subtitle_with_backbutton (shortname) }}
{% endblock %}

{% block css%}
{% endblock %}

{% block content %}
<div id="center">
  <!-- Tabelle mit Buttons -->
  {{ tbl.csv_nav() }}
  {{ tbl.table() }}
</div>
{% endblock %}

{% block javascript %}
<script>

  $('document').ready (function () {
    // editierbare Spalten:
    initMouseMode ();
//    $("td").addClass ("edittext_data");
//    prepEdit();
    // editableCsvFields ();
    // selectableCsvLines ();
    csvSavediscardButtons ();

    $("#sessiondata").attr ("history", "/dataform/config");
  });
</script>
{% endblock %}
