{# 
---  attribslider.html ---
Parameter: 
    heads   = Head-Nummern
    attribs = Attributnamen    
    labels  = Fader-Beschriftungen
    title   = Titel
#}

{#
{% macro sliderelem_old (index) %}
<div class="col mx-auto"> <!-- col -->
  <div class="sliderelement">
      {{ labels[index] }}
  </div>
  <div id="attrib-{{ heads[index] }}{{ attribs[index] }}" 
        class="attribslider mx-auto">
  </div>
</div>
{% endmacro %}
#}

{% macro sliderelem (index) %}
<div class="col mx-auto pb-2"> <!-- col -->
  <div class="sliderelement">
      {{ labels[index] }}
  </div>
  <input type="range" min="0" max="255" orient="vertical"
    id="attrib-{{ heads[index] }}{{ attribs[index] }}" 
    class="attribslider mx-auto" />
</div>
{% endmacro %}

<div >
  <div class="row slidercontainer text-center" > <!-- row -->
    {% for attrib in attribs %}
    {{ sliderelem (loop.index0) }}
    {% endfor %}
{#    
    <div class="col-4">
        <h5>Selektion</h5>
        {{ title }}
    </div>
#}
  </div>
</div>