{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}
{% from "cl-macros.html" import cl_status with context %}
{% from "cl-macros.html" import cl_buttons with context %}
{% block header %}
<h2> {% block title %} Cuelist-Editor {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
<h5>{{ base.subtitle_with_backbutton (shortname) }}</h5>
{% endblock %}

{% block css %}
{% endblock %}

{% block workspace %}
{% if index|length > 0 %}
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col col-8">
      <!-- status -->
      {{ cl_status (index) }}
    </div>
    <div class="col col-4">
      <!-- buttons -->
      {{ cl_buttons (index) }}
    </div>
  </div>
  <div class="row mx-2">
    <table class="table">
      <tbody>
        {{ base.cueslider ("", "", 0, 1, index) }}

      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}


{% block content %}
<!-- Button für modaldialogToPython -->
<div id="showCueModal"></div>

<div id="center">
  <div id="upload_point"></div>
  <div id="cuelistindex" index="{{ index }}"></div>
  <!-- Tabelle mit Buttons -->
  {{ tbl.csv_nav() }}
  {{ tbl.table() }}
</div>
<div class="row">
  <div class="col" id="links"></div>
  <div class="col" id="rechts"></div>
</div>  
{% endblock %}

{% block javascript %}
<script src="/static/js/cuelist.js"></script>

<script>

  function colEdit () {
    // Spalten einer CSV-Datei editieren:
    $("th").click (function (event) {
      event.preventDefault ();
      editcell = $(this);
      let celldata = get_celldata (editcell);

      if (celldata.text == "Filename") {
        // Spalte editieren deaktiviert
        return;
      } else if (celldata.text == "Id") {
        // sortieren nach Id:
        // console.log ("sortiere nach Id");
        let name = $("#csvtable").attr ("file");
        let pluspath = $("#csvtable").attr ("pluspath");
        let args = {name:name, pluspath:pluspath, field:"Id"};
        $.get ("/csv/sort", args, function () {
          location.reload ();
        });
        return;
      };

      let args = {field:celldata.text};

      // console.log ("Spalte "+args.field+" editieren.");
      // siehe modaldialogToPython:
      $.get ("/cuelist/coledit", args, function (data) {
        $("#dialogModal").html (data);
        $("#viewModal").modal ();
        // auswerten bei Strings:
        $("#selectButton").on ('click', function(){
          var newval = $("#input-text").first().val();
          let data = {option:celldata.option,
                      col_num:celldata.col_num,
                      field:celldata.text,
                      file:celldata.file,
                      newval:newval}; 
            //var data = {selectButton:"true", newval:newval};
            //data.args = JSON.stringify (args);
            $.post ("/cuelist/coledit", data, function (response) {
                location.reload (); 
            });
        });
      });
    });
  }
  var clIndex; // Index der Cueliste in globs.Cuelist.instances
  var clIndexString; // als String

  function addIdClass () {
    // den Table-Zeilen eine eindeutige Klasse zuordnen
    $("tr").each (function (index) {
      let idclass = $(this).children (".Id").text().trim();
      if (idclass.length) {
        idclass = idclass.replace ('.', '-');
        //console.log (idclass);
        $(this).addClass ("id-"+idclass);
      };
    });
  }

  function periodic_cueliststatus () {
    // siehe: https://stackoverflow.com/questions/5052543/how-to-fire-ajax-request-periodically
    // aktuelle Statusdaten zeigen:     
    $.ajax ({
      url: "/cuelist/status/" + clIndexString, 
      success: function(data) {
        var jdata = $.parseJSON(data);
        // Status:
        var data = jdata["status"];
        cuelistStatus (clIndex, data);
        // Status in Tabelle anzeigen:
        let currentid = "tr.id-" + data["currentid"];
        let nextid = "tr.id-" + data["nextid"];
        $("tr").removeClass ("table-info table-success")
        $(currentid).addClass ("table-info");
        $(nextid).addClass ("table-success");
  
        // Slider:
        var sliderlevel = jdata["level"];
        let numstring = clIndex.toString ();
        try {
          $("#sl-"+numstring).slider ("option", "value", sliderlevel);
        }
        catch(err) {
          console.log ("Fehler in Sliderlevel: " + err);  
        }

      },
      complete: function () {
        setTimeout (periodic_cueliststatus, 500);
      }
    }); // ende $.ajax
  }
  
  $('document').ready (function () {
    // clIndex bestimmen:
    clIndex = $("#cuelistindex").attr ("index");
    
    // editierbare Spalten:
    colEdit ();
    initMouseMode ();
    addIdClass ();

    // speichern/verwerfen-Buttons
    csvSavediscardButtons ();


    filedialogToPython (".openButton", "/csv/open", {"option":"cuelist"});
    filedialogToPython (".saveasButton", "/csv/saveas", {"option":"cuelist"});

    activateUploadCsv ("#upload_point");

    // Buttons aktivieren:
    activateCuelistbuttons (); // Bedienbuttons: GO, PAUSE etc.
    activateCuedetails (); // Buttons 'ansehen' und 'Topcue'
    $("#sessiondata").attr ("history", "/cuelist/pages");

    // Editor von cl-pages aufgerufen, hat einen cuelist-Index:
    if (clIndex.length) {
      clIndexString = clIndex.toString ();

      // Slider:
      var sliderwidth;
      // Sliderbreite mit Fenserbreite verändern:
      $(window).on('resize', function(){
        sliderwidth = $(".col-12").width();
        $(".slider").width (sliderwidth);
      });
  
      sliderwidth = $(".col-12").width();
  
      // slider erzeugen:
      $.get ("/cuelist/status/"+clIndexString, function (data) {
        // console.log ("data: " + data);
        var jdata = $.parseJSON(data);
        var level = jdata["level"];
        makeSlider(clIndex, level, "cuelistlevel");
        $(".slider").width (sliderwidth);
      });
  
      periodic_cueliststatus ();
      $(document).keyup ( function (event) {
        event.preventDefault();
        var args = {index:clIndex};
        //console.log ("Key: " + event.which);
        switch (event.which) {
          case 32: // leertaste
           $.get ("/cuelist/go", args);
           break;
          case 40: // down
           $.get ("/cuelist/plus", args);
           break;
          case 38: // up
           $.get ("/cuelist/minus", args);
           break;
        };
      });
//    } else {
//      console.log ("kein Cuelist-Index.")
    };
  });
</script>
{% endblock %}
