<!-- Cuelist - Faderpage -->
{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}
{% import "cl-macros.html" as cl with context %}

{% macro cl_fadertable (header, d, filebuttons="cuelist") %}
<div class="container">
  {% set items = d["items"] %}
  {% if items|length > 0 %}
  <div class="shadow p-3 mb-5 rounded"> {# shadow #}
    <!-- <h5 class="alert alert-info">{{ header }}</h5> -->
    <table table_id="{{ d['loc'] }}" class="table csvfile " 
            file="{{ d['shortname'] }}" 
            pluspath="{{ d['pluspath'] }}" 
            option="{{ d['option'] }}">
      <tbody>
        {% for item in items %}
          <tr class="row pt-2"></tr>
          {{ base.cueslider (item.Text, item.Filename, 
                loop.index, 1+d["textcolumn"], item.Index, 
                filebuttons) }}
          <tr class="row">
            <td class="col col-sm-12 col-md-9 border-0">
              {{ cl.cl_status  (item.Index) }}
            </td>
            {{ cl.button_row (item.Index) }}
          </tr>
          <tr class="row border-bottom"></tr>
        {% endfor %}
      </tbody>  
    </table>
  
  </div>
  {% endif %}
</div>
{% endmacro %}



{% block header %} 
  <h2> {% block title %}Cuelist-Pages{% endblock %} </h2>
{% endblock %}

{#% set subtext = data.exefaders.shortname ~ ", " ~ data.cuefaders.shortname %#}
{% block subtitle %}
  {{ base.subtitle_with_button (data["shortname"],
    svgid = "#svg-gear",
    endpoint = url_for ('cuelist.pagessetup') )
  }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Button für modaldialogToPython -->
<div id="showCueModal"></div>

<div>
  <!-- Cuelist -->
  {{ cl_fadertable ("Page", data) }}
</div>
{% endblock %}


{% block javascript %}
<script src="/static/js/cuelist.js"></script>

<script>

  $("document").ready (function () {
    
    var sliderwidth;
    // Sliderbreite mit Fenserbreite verändern:
    $(window).on('resize', function(){
      sliderwidth = $(".col-8").width();
      $(".slider").width (sliderwidth);
    });

    sliderwidth = $(".col-8").width();
    // editableCsvFields ();

    // slider erzeugen:
    // var sliderlevels;
    $.get ("/cuelist/allstatus", function (data) {
      // console.log ("data: " + data);
      var jdata = $.parseJSON(data);
      var sliderlevels = jdata["levels"];

      var i;
      for (i = 0; i < sliderlevels.length; i++){
        makeSlider(i, sliderlevels, "cuelistlevel");
      };
      $(".slider").width (sliderwidth);
    });
    periodic_allcueliststatus ();

    // Buttons aktivieren:
    activateCuelistbuttons (); // Bedienbuttons: GO, PAUSE etc.
    activateCuelistDetails (); // Button 'ansehen' 


  });     // ende document ready
</script>
{% endblock %}

