<!-- Cuelist - Faderpage -->
{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}

{% macro cl_fadertable (header, d, filebuttons="cuelist") %}
<div class="container">
  {% set items = d["items"] %}
  {% if items|length > 0 %}
  <div class="shadow p-3 mb-5 rounded"> {# shadow #}
    <h5 class="alert alert-info">{{ header }}</h5>
    <table table_id="{{ d['loc'] }}" class="table csvfile " 
            file="{{ d['shortname'] }}" 
            pluspath="{{ d['pluspath'] }}" 
            option="{{ d['option'] }}">
      <tbody>
        {% for item in items %}
          <tr class="row pt-2"></tr>
          {{ base.cueslider (item.Text, item.Filename, 
                loop.index, 1+d["textcolumn"], item.Index, 
                filebuttons) }}
          <tr class="row">
            {{ cl_status  (item.Index) }}
            {{ button_row (item.Index) }}
          </tr>
          <tr class="row border-bottom pb-2"></tr>
        {% endfor %}
      </tbody>  
    </table>
  
  </div>
  {% endif %}
</div>
{% endmacro %}


{# cuelist Status: #}
{% macro cl_status (index) %}
<td class="col col-sm-12 col-md-9 border-0">
  <table class="table table-borderless">
    <tbody>
      <tr class="row">
        <td class="col-1">
          <h4 id="currentid-{{ index }}" index="{{ index }}" 
          class="col-2 text-left"></h4>
        </td>
        <td id="currenttext-{{ index }}" index="{{ index }}"
          class="col-7 text-center ml-3"></td>
        <td class="col-3">
          <div id="fadeout-{{ index }}" class="progress">
            <div id="fadeout-indicator-{{ index }}" class="progress-bar bg-info" 
              role="progressbar" aria-valuenow="0" style="transition:400ms;"
              aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </td>
      </tr>
      <tr class="row">
        <td class="col-1">
          <h4 id="nextid-{{ index }}" index="{{ index }}" 
          class="col-2 text-left"></h4>
        </td>
        <td id="nexttext-{{ index }}" index="{{ index }}"
          class="col-7 text-center ml-3"></td>
        <td class="col-3">
          <div id="fadein-{{ index }}" class="progress">
            <div id="fadein-indicator-{{ index }}" class="progress-bar bg-success" 
              role="progressbar" aria-valuenow="0" style="transition:400ms;"
              aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</td>
{% endmacro %}

{# button-Row: alle Buttons für eine Cueliste #}
{% macro button_row (row_index) %}
{# kleiner als md #}
<td class="d-md-none col col-12 border-0">
  {{ cl_buttons (row_index) }}
</td>
{# md und größer #}
<td class="d-none d-md-block col-md-3 border-0">
  {{ cl_buttons (row_index) }}
</td>
{% endmacro %}


{# cuelist Buttons: Go, Pause, next+1, next-1 #}
{% macro cl_buttons (index) %}
<!-- <div class="col col-3"> -->
<div class="container-fluid">
  <div class="row mb-3">
      <button type="button" index="{{ index }}" 
        class="col btn btn-secondary pausebutton pausebut-{{ index }} ">
        ||
      </button>

    <button type="button" index="{{ index }}" 
    class="col btn btn-primary gobutton gobut-{{ index }} ">
      Go
    </button>
  </div>

  <div class="row mb-3">
    <button type="button" index="{{ index }}" 
    class="col btn btn-secondary minusbutton minusbut-{{ index }} "><<</button>

    <button type="button" index="{{ index }}" 
    class="col btn btn-secondary plusbutton plusbut-{{ index }} ">>></button>
  </div>
</div>
{% endmacro %}



{% block header %} 
  <h2> {% block title %}Cuelist-Pages{% endblock %} </h2>
{% endblock %}

{#% set subtext = data.exefaders.shortname ~ ", " ~ data.cuefaders.shortname %#}
{% block subtitle %}
  {{ base.subtitle_with_button (data["shortname"],
    svgid = "#svg-gear",
    endpoint = url_for ('cuelist.pagessetup') )
  }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Button für modaldialogToPython -->
<div id="showCueModal"></div>

<div>
  <!-- Cuelist -->
  {{ cl_fadertable ("Page 1", data) }}
</div>
{% endblock %}


{% block javascript %}
<script src="/static/js/cuelist.js"></script>

<script>

  $("document").ready (function () {
    
    var sliderwidth;
    // Sliderbreite mit Fenserbreite verändern:
    $(window).on('resize', function(){
      sliderwidth = $(".col-8").width();
      $(".slider").width (sliderwidth);
    });

    sliderwidth = $(".col-8").width();
    // editableCsvFields ();

    // slider erzeugen:
    // var sliderlevels;
    $.get ("/cuelist/status", function (data) {
      // console.log ("data: " + data);
      var jdata = $.parseJSON(data);
      var sliderlevels = jdata["levels"];

      var i;
      for (i = 0; i < sliderlevels.length; i++){
        makeSlider(i, sliderlevels, "cuelistlevel");
      };
      $(".slider").width (sliderwidth);
    });
    periodic_cueliststatus ();

    // Buttons aktivieren:
    activateCuelistbuttons (); // Bedienbuttons: GO, PAUSE etc.
    activateCuelistDetails (); // Button 'ansehen' 


  });     // ende document ready
</script>
{% endblock %}

