{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}

{% block header %}
  <h2> {% block title %} Cuelisten Info {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
  {{ base.subtitle_with_backbutton (shortname) }}
{% endblock %}

{% block content %}
<!-- Button für modaldialogToPython -->
<div id="showCueModal"></div>


<div id="center">
    <div id="upload_point"></div>

    <!-- Tabelle mit Buttons -->
    {{ tbl.csv_nav() }}
    {{ tbl.table() }}
  </div>
  <div class="row">
    <div class="col" id="links"></div>
    <div class="col" id="rechts"></div>
  </div>  
  {# {% include "modal.html" %} #}
{% endblock %}

{% block javascript %}
<script src="/static/js/cuelist.js"></script>

<script>

  $("document").ready(function() {
    initMouseMode ();
    // speichern/verwerfen-Buttons
    csvSavediscardButtons ();

    var location = $("#csvtable").attr ("loc");
    // exebuttons1, exebuttons2, cuebuttons
    filedialogToPython (".openButton", "/csv/open", 
      {"option":"pages", "location":location});

    filedialogToPython (".saveasButton", "/csv/saveas",
      {"option":"pages", "location":location});

    activateUploadCsv ("#upload_point");
    activateCuelistDetails (); // Button 'ansehen' 
    $("#sessiondata").attr ("history", "/cuelist/pages");
  }); 
</script>
{% endblock %}



