{# common_table.html 
shows directory information in a table
Parameters:
    title
    items
#}

{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{#% import "base-macros.html" as base with context %#}


{% block header %}
  <h2> {% block title %} {{ title }} {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block content %}

<div id="center">
  <!-- Tabelle mit Buttons -->
  {{ tbl.table() }}
</div>
<div class="row">
  <div class="col" id="links">
  </div>
  <div class="col" id="rechts"></div>
</div>  
{% endblock %}

{% block javascript %}
<script>
  $("document").ready( function() {
    initMouseMode ();
    var editfield = undefined;
  }); 
</script>
{% endblock %}



