{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}

{#  Macro file_item: 
    erzeugt einen Listeneintrag in den Fileselector, mit dem die
    anzuzeigende Tabelle ausgewählt wird
#}
{% macro file_item (text, loc) -%}
  {% if loc.status == "active" %}
  <a href="#" 
     class="list-group-item list-group-item-action active" 
     aria-current="true">
     {{ text }}
  </a>
  {% else %}
  <a href="{{ url_for ('basic.buttontable', sel=loc.cuelist) }}" 
     class="list-group-item list-group-item-action">
    {{ text }}
  </a>
  {% endif %}  
{%- endmacro %}


{% block header %}
  <h2> {% block title %} Button-Info {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
  {{ base.subtitle_with_backbutton (shortname) }}
{% endblock %}

{% block content %}
<!-- Button für modaldialogToPython -->
<div id="showCueModal"></div>

<div id="fileselector" >
  <div class="list-group mb-4">
    {# Reihenfolge wie in cuebutton.html #}
    {% set title1 = "Buttons im Executer oben: " ~ locations.exebuttons1.text %}
    {{ file_item (title1,locations.exebuttons1) }}

    {% set title2 = "Buttons im Executer unten: " ~ locations.exebuttons2.text %}
    {{ file_item (title2, locations.exebuttons2) }}

    {% set title3 = "Zusätzliche Buttons: " ~ locations.cuebuttons.text %}
    {{ file_item (title3, locations.cuebuttons) }}
  </div>
</div>

<div id="center">
    <div id="upload_point"></div>

    <!-- Tabelle mit Buttons -->
    {{ tbl.csv_nav() }}
    {{ tbl.table() }}
  </div>
  <div class="row">
    <div class="col" id="links"></div>
    <div class="col" id="rechts"></div>
  </div>  
  {# {% include "modal.html" %} #}
{% endblock %}

{% block javascript %}
<script>

  $("document").ready(function() {
    // editableCsvFields ();
    // selectableCsvLines ();
    initMouseMode ();
    // speichern/verwerfen-Buttons
    csvSavediscardButtons ();

    var location = $("#csvtable").attr ("loc");
    var filename = $("#csvtable").attr ("pluspath") + "+" +
                      $("#csvtable").attr ("file");
    var dataPath = $("#csvtable").attr ("option");

    // exebuttons1, exebuttons2, cuebuttons
    filedialogToPython (".openButton", "/csv/open", 
      {"option":"cuebutton", "location":location});

    filedialogToPython (".saveasButton", "/csv/saveas",
      {"option":"cuebutton", "location":location});
    modaldialogToPython (".deleteButton", "/delete_csv", 
      {spath:dataPath, filename:filename});
  
    activateUploadCsv ("#upload_point");
    activateCuedetails (); // Buttons 'ansehen' und 'Topcue'
    $("#sessiondata").attr ("history", "/cuebutton");
  }); 
</script>
{% endblock %}



