<!-- heads.html -->
{% extends 'base.html' %}

{#% import "base-macros.html" as base with context %#}

{% block header %}
  <h2> {% block title %} Logfiles {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
  <div id="dataPath" logdir="{{ logdir }}"></div>
  <!-- <div class="post_msg" id="message"></div> -->
  <!-- <div id="center" class="row container"></div> -->
  <div class="row">
    <div class="col col-4" id="explore"></div>
    <div class="col col-8" id="rechts"></div>
  </div>  
{% endblock %}

{% block javascript %}
  <script>
    var visibleLogfile = "";
    var dataPath, dataName;
    var filterStr;

    function  loadLogfile (insert_id) {
      filterStr = $(".filterInput").val();
      //console.log ("Filter: " + filterStr);
      var args = {name:visibleLogfile, path:dataPath, filter:filterStr};
      $.get({
          url: "/getlogfile",
          data: args,
          cache: false
      }).then(function(data){
        //var pdata = $.parseJSON(data);
        var pdata = JSON.parse (data);
        $(insert_id).html (pdata);
        // highlight filename in dirlist:
        var fname = $("#fileName").attr ("filename");
        if (fname.length) {
          $(".file").each (function () {
            if ($(this).text().trim() == fname) {
              $(this).addClass ("ui-state-highlight");
            }
          });
        };
        $(".filterInput").val (filterStr);
        modaldialogToPython (".deleteButton", "/delete_log", 
            {spath:dataPath, filename:visibleLogfile});
        
      }); // ende then
    }; // ende loadLogfile          

    function showDir (insert_id) {
      fileDialogParams.insert_str = insert_id;
      fileDialogParams.basedir = dataPath;
      fileDialogParams.ending = "true";
      fileExplore (fileDialogParams);
    };
      
    // Neudefinition für explore:
    function activateFileSelector (selector) {
      visibleLogfile = fileDialogParams.filepath + '+' 
                     + fileDialogParams.result;
      loadLogfile (insert_id="#rechts");
      // highlight selected file:
      $(".file").removeClass ("ui-state-highlight");
      selector.addClass ("ui-state-highlight");
    };        
      

    $('document').ready (function () {

      dataPath = $("#dataPath").attr ("logdir");
      showDir ("explore");
      loadLogfile (insert_id="#rechts");
    });
  </script>

{% endblock %}
