{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}

{% block header %}
<h2> {% block title %} Patch {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
{{ base.subtitle_with_backbutton (shortname) }}
<!-- <h5>{{ shortname }}</h5> -->
{% endblock %}

{% block css%}
{% endblock %}

{% block content %}
<div id="center">
  <div id="upload_point"></div>
  <!-- Tabelle mit Buttons -->
  {{ tbl.csv_buttons() }}
  {{ tbl.table() }}
</div>
<div class="row">
  <div class="col" id="links"></div>
  <div class="col" id="rechts"></div>
</div>  
{% endblock %}

{% block javascript %}
<script>

  $('document').ready (function () {
    // editierbare Spalten:
    editableCsvFields ();
    selectableCsvLines ();
    // speichern/verwerfen-Buttons
    csvSavediscardButtons ();


    filedialogToPython (".openButton", "/csv/open", {"option":"patch"});
    filedialogToPython (".saveasButton", "/csv/saveas", {"option":"patch"});

    activateUploadCsv ("#upload_point");

    $("#sessiondata").attr ("history", "/dataform/config");
  });
</script>
{% endblock %}
