{% extends 'base.html' %}

{% import "csvtable-macros.html" as tbl with context %}
{% import "base-macros.html" as base with context %}
{% import "index-macros.html" as idx %}

{% macro position (left, top, width, height) %}
style="left:{{ left }}; top:{{ top }}; width:{{ width }}; height:{{ height }};"
{% endmacro %}

{% macro get_checkbox (field) %}
  {% if itemview[field] == "checked" -%}
    <input id="view{{ field }}" type="checkbox" checked/>
  {%- else -%}
    <input id="view{{ field }}" type="checkbox" />
  {%- endif %}  
  <label for="view{{ field }}" class="ml-2">{{ field }}</label>
  {% endmacro %}

{% block header %}
  <h2> {% block title %} Bühne {% endblock %} </h2>
{% endblock %}

{% block subtitle %}
  {{ base.subtitle_with_button (shortname, 
      svgid = "#svg-gear",
      endpoint = url_for ('data.dataedit_stage', 
                 history=url_for('stage.show')) )
  }}
{% endblock %}

{% block workspace %}
<div class="container">
  <div class="row">
    <div class="col col-9">
      <!-- Anzeige-Elemente auswählen -->
      {{ get_checkbox ('Name') }}
      <br>
      {{ get_checkbox ('Text') }}
      <br>
      {{ get_checkbox ('Comment') }}
    </div>

    <div class="col col-3">
      <!-- Navigationspfeile -->
      <div class="row row-cols-3">
        <div class="col"></div>
        <div class="col">
          {{ base.svg_button_js ("#svg-arrow-up", "scroll-up", size="1.5em") }}
         </div>
         <div class="col"></div>
      </div>
      <div class="row row-cols-3">
        <div class="col">
          {{ base.svg_button_js ("#svg-arrow-left", "scroll-left", size="1.5em") }}
        </div>
        <div class="col"></div>
        <div class="col">
          {{ base.svg_button_js ("#svg-arrow-right", "scroll-right", size="1.5em") }}
        </div>
      </div>
      <div class="row row-cols-3">
        <div class="col"></div>
        <div class="col">
          {{ base.svg_button_js ("#svg-arrow-down", "scroll-down", size="1.5em") }}
        </div>
        <div class="col"></div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<!-- neue Zeile: Formular -->
<div class="row">
  <div class="col" id="links"></div>
  <div class="col" id="rechts"></div>
</div>  

<!-- Button für modaldialogToPython -->
<div id="showModal"></div>

<div id="stagewrapper" class="stage-wrapper">
  {{ tbl.stage_nav () }}

  <!-- <div id="canvas" class="stage-canvas"> -->

    <div id="csvtable" class=" bg-light stage" 
        file="{{ file }}" pluspath="{{ pluspath }}" changes="{{ changes }}">
<!-- ui-widget-content -->
      {% for item in items %}
      <div class="stage-element {{ item.Type.lower() }}" 
        row_num="{{ loop.index }}"
        {{ position (left=item.Left,   top=item.Top, 
                    width=item.Width, height=item.Height ) }} >
        {% if item.Type == "Head" %}
          <div class="intensity-container">
            <div class="intensity-indicator head-{{ item.Name }}"></div>
          </div>
          <div class="color-indicator"></div>
        {% endif %}
        <div class="itemName edit_div ">{{ item.Name }}</div>
        <div class="itemText edit_div ">{{ item.Text }}</div>
        <div class="itemComment edit_div ">{{ item.Comment }}</div>
      </div>
      {% endfor %}
    </div> 

  <!-- </div> canvas -->
</div>
{% endblock %}

{% block javascript %}
  <script src="/static/js/stage.js"></script>
  <script>
    function initMouseMode () {
      // wird in der jeweiligen html-Seite neu definiert
      initStageMouse ();
    };
   
    // Text der Stage-Elemente ein/ausschalten:
    function updateStageElements (fieldName, bVisible, sendToServer) {
      // fieldName sichtbar oder unsichtbar schalten
      var fieldSelectorVal = "";
      switch (fieldName) {
        case "Name": 
          fieldSelectorVal = ".itemName";
          break;
        case "Text":
          fieldSelectorVal = ".itemText";
          break;
        case "Comment":
          fieldSelectorVal = ".itemComment";
          break;
      }
      $(fieldSelectorVal).css ("display", bVisible ? "" : "none");
      if (sendToServer) {
        $.get ("/stage/itemviewmode", {field:fieldName, value:bVisible});
      };
    }

    $(document).ready ( function () {  
      initStageMouse ();
      // selectableStageElements ();
      periodic_attribstatus ();
      csvSavediscardButtons ();
      $(".scroll-down").on ("click", function (){
        var stagetop = $("#csvtable").scrollTop ();
        var height = $("#csvtable").height ();
        $("#csvtable").scrollTop (stagetop + height/2);
      });
      $(".scroll-up").on ("click", function (){
        var stagetop = $("#csvtable").scrollTop ();
        var height = $("#csvtable").height ();
        if (stagetop >= height/2) {
          $("#csvtable").scrollTop (stagetop - height/2);
        } else {
          $("#csvtable").scrollTop (0);
        };
      });
      $(".scroll-left").on ("click", function (){
        var stageleft = $("#csvtable").scrollLeft ();
        var width = $("#csvtable").width ();
        if (stageleft >= width/2) {
          $("#csvtable").scrollLeft (stageleft - width/2);
        } else {
          $("#csvtable").scrollLeft (0);
        };
      });
      $(".scroll-right").on ("click", function (){
        var stageleft = $("#csvtable").scrollLeft ();
        var width = $("#csvtable").width ();
        $("#csvtable").scrollLeft (stageleft + width/2);
      });

      // Item-Texte ein/aus nach Checkboxen-Wert:
      if (!$("#viewName").prop ("checked") ) {
        updateStageElements ("Name", false, false)
      };
      if (!$("#viewText").prop ("checked") ) {
        updateStageElements ("Text", false, false)
      };
      if (!$("#viewComment").prop ("checked") ) {
        updateStageElements ("Comment", false, false)
      };

      // Checkboxen ein/aus auswerten:
      $("#viewName").on ("change", function (evt) {
        updateStageElements ("Name", evt.target.checked, true);
      });
      $("#viewText").on ("change", function (evt) {
        updateStageElements ("Text", evt.target.checked, true);
      });
      $("#viewComment").on ("change", function (evt) {
        updateStageElements ("Comment", evt.target.checked, true);
      });
    });  

  </script>
{% endblock %}

